@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family:'fontandroid';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight:normal;
    font-style:normal;
}
*{
    margin: 0px;
    padding: 0px;
    text-decoration:none;
    list-style:none;
}

:root{
    --cor0:  #ebe5c5;
    --cor1:  #83e1ad;
    --cor2:  #3ddc84;
    --cor3:  #2fa866;
    --cor4:  #1a5c37;
    --cor5:  #063d1e;
}

strong{
    color:var(--cor5);

}

main p {text-indent:30px;
        line-height:2em;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#6ff0a9;
}
        


header{
    height: 150px;
    padding-top:40px;
    background-image:linear-gradient(to bottom, var(--cor3),#06341a);
    
    
}
header h1{
    color: aliceblue;
    font-family: "Bebas Neue", sans-serif;
    font-size:4em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.322) ;
    text-align: center;
}
header p{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    max-width: 600px;
    font-size:1.2em;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.247) ;
    text-align: center;
    margin-bottom: 10px;
}
header nav{
    background-color:var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.315) ;
    
}
header nav a{
    color: white;
    padding: 10px;
    font-weight:bold;
    border-radius: 5px;
    font-size: large;
}
header nav a:hover{
    background-color: var(--cor3);
    color:var(--cor5);
    transition: 0.6s;

    
}

main{
    background-color: white;
    padding:50px 100px 40px 100px;
    margin: auto;
    max-width: 850px;
    min-width: 320px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);
    border-radius:0px 0px 20px 20px;    
    margin-top: 41px;
}
main img{
    width: 100%;
}
main h1{
    font-family:'fontandroid', times, sans-serif;
    color: #185534;
}
main p{
    font-family: Arial, Helvetica, sans-serif;
}

main h2{
    font-family:'fontandroid', times, sans-serif;
    color:var(--cor3);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    margin:revert;
}
main strong{
    color:#1a5c37;
    padding: 2px;
}
main a{
    background-color:#83e1ad;
    color:#1a5c37;
}
.video{
    background-color: #063d1e;
    margin:10px -100px;
    padding: 15px;
    position: relative;
    padding-bottom: 50%;
}
.video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

img{
    text-align:center;
    width: 1152px;
}
#bugdroidimg{
    display: block;
    max-width: 350px;
    margin: auto;
}

iframe{
    width: 700px;
    height: 400px;
    margin: auto;
    display: flex;
    
}
aside{
    background-color:var(--cor1);
    border-radius: 6px;
    padding:20px;
    margin: 10px 10px 10px 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.459) ;
}
aside ul{
    columns:2;
    margin: 0px 0px 0px 20px ;
}
aside ul li{
    list-style-position: inside;
    list-style-type:'\2714\00a0\00a0';/*A barra a frente do 2714 "significa que vai buscar na rede", sem ele aparece apenas o numero na rede, o 00a0 é apenas um código para espaçamento. */
}
aside h3{
    background-color: #185534;
    color: white;
    padding: 10px;
    margin: -20px -20px 0px -20px;
    border-radius: 6px 6px 0px 0px ;
}
footer{
    display:block;
    background-color: #185534;
    width: auto;
    height: 50px;
    margin: 10px 0px 0px 0px  ;
    padding-top: 20px;
}

footer>h1{
    text-align: center;
    color: aliceblue;
    padding: 1px;
    font-size: 0.8em;
    
}

